@import "../../App.scss";

.category-filter-section {
  margin-bottom: $padding-base;

  h3 {
    background-color: $bg-primary;
    font-size: $font-size-md;
    margin: 0;
    margin-bottom: $margin-xs;
    border-radius: 4px;
    padding: 6px $padding-xs;
  }
}
