@import "../../../App.scss";

.checkbox-group {
  display: flex;
  flex-direction: column;
  padding: 0 $padding-sm;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: $margin-xs;

  input[type="checkbox"] {
    margin-right: $margin-xs;
  }

  label {
    font-size: $font-size-md;
  }

  &:hover {
    background-color: $bg-primary;
  }
}
