@import "../../../App.scss";

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: $margin-base;

  input[type="checkbox"] {
    margin-right: $margin-base;
  }

  label {
    font-size: $font-size-base;
  }
}
