$primary-color: #007bff;
$secondary-color: #cccccc;
$bg-primary: #f8f9fa;
$shadow-color: #171a1f1f;
$border-color: #e0e0e0;
$font-color: #171a1f;
$font-color-light: #565d6d;
$font-size-sm: 0.75em;
$font-size-md: 1em;
$font-size-lg: 1.25em;
$padding-base: 20px;
$padding-xs: 0.5em;
$padding-sm: 0.75em;
$padding-md: 1em;
$margin-xs: 0.5em;
$margin-sm: 0.75em;
$margin-md: 1em;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-radius($radius: 3px) {
  border-radius: $radius;
}

@mixin button-style($bg-color: $primary-color, $color: white) {
  padding: 5px 10px;
  font-size: $font-size-md;
  cursor: pointer;
  border: none;
  background-color: $bg-color;
  color: $color;
  @include border-radius();
}
